@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* Primary Colors */
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);

/* Neutral Colors */
$dark-blue: hsl(229, 31%, 21%);
$gray: hsl(229, 8%, 60%);
$dark-gray: hsl(240, 1%, 41%);
$light-gray: hsl(0, 0%, 95%);
$white: #FFF;

/* Font */
$rubik: 'Rubik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


$debug1: 1px dashed rgb(190, 0, 0);
$debug2: 1px dashed rgb(0, 196, 59);
$debug3: 1px dashed rgb(43, 43, 255);
$debug4: 1px dashed rgb(177, 151, 2);
$debug5: 1px dashed rgb(65, 65, 65);